@import url('http://fonts.googleapis.com/css2?family=Krona=One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #f6f6f6;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 17% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-conteudo {
width: 615px;
display: flex;
flex-direction: column;
gap: 40px
}

.apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family: 'Krona one',sans-serif;
}

.apresentacao-conteudo-texto {
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
}

.apresentacao-links {
    display: flex;
    justify-content: space-between;
}

.apresentacao-links-link {
    width: 260px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 30px 14.5px;
    text-decoration: none;
    color: #000000;
    font-family: 'Krona one',sans-serif;
}

.apresentacao-links-link ul{
display: flex;
justify-content: space-evenly;
column-gap: 20px;
list-style: none;
}

#Instagram{
    background-color: #22D4FD;
    margin: 7em;
    padding: 1em 2em;
}

#GitHub{
    background-color: #22D4FD;
    margin: -2em;
    padding: 1em 2em;
}

#foto {
    width: 400px;
    border-radius: 18px;
}